@model TinhDiemMonHoc.Models.DiemMonHoc

<h2>Tính điểm môn học</h2>

<form asp-action="TinhToan" method="post">
    <label for="DiemA">Điểm A:</label>
    <input type="number" asp-for="DiemA" /><br /><br />

    <label for="DiemB">Điểm B:</label>
    <input type="number" asp-for="DiemB" /><br /><br />

    <label for="DiemC">Điểm C:</label>
    <input type="number" asp-for="DiemC" /><br /><br />

    <button type="submit">Tính điểm</button>
</form>