@model TinhDiemMonHoc.Models.DiemMonHoc

<h2>Kết quả</h2>

<p>Điểm A: @Model.DiemA</p>
<p>Điểm B: @Model.DiemB</p>
<p>Điểm C: @Model.DiemC</p>
<p>Điểm tổng kết: @Model.DiemTongKet</p>

<a asp-action="Index">Tính lại</a>