@model DEMOMVC.Models.Person

<form asp-action="Index" method="post">
    <label for="PersonId">ID:</label>
    <input type="text" name="PersonId" />

    <label for="FullName">Họ và tên:</label>
    <input type="text" name="FullName" />

    <label for="Address">Địa chỉ:</label>
    <input type="text" name="Address" />

    <button type="submit">Gửi</button>
</form>

@if (ViewBag.infoPerson != null)
{
    <p>@ViewBag.infoPerson</p>
}
